# ignore compiled python files
*.pyc
*.egg-info
*/dist

# ignore temporary matlab files
*.asv
matlab/*.prj
*.mltbx

# ignore anything marked 'dev
dev*

# VSCode specific
settings.json

# venv
**/.environment

# R
.Rhistory
.Rprofile
.Rproj.user

# Darwin (MacOS)
.DS_Store
python/build/*

# VSCode
.vscode
