# ignore compiled python files
*.pyc
*.egg-info
*/dist

# ignore temporary matlab files
*.asv

# ignore anything marked 'dev
dev*

# VSCode specific
settings.json

# venv
**/.environment

# R
.Rhistory

# Darwin (MacOS)
.DS_Store

# docs
.jekyll-cache/*
*.lock