# Kgen test worflow
on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

name: 'Check K values - R'
    
jobs:
    my-job:
      runs-on: ${{ matrix.config.os }}

      name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    
      strategy:
        fail-fast: false
        matrix:
          config:
            - {os: macos-latest, r: 'release'}
            - {os: windows-latest, r: 'release'}
            - {os: ubuntu-latest, r: 'release'}
          
      env:
        GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        R_KEEP_PKG_SOURCE: yes
          
      steps:
        - uses: actions/checkout@v3

        - uses: r-lib/actions/setup-pandoc@v2

        - uses: r-lib/actions/setup-r@v2
          with:
            r-version: ${{ matrix.config.r }}
            rtools-version: '42'
            http-user-agent: ${{ matrix.config.http-user-agent }}
            use-public-rspm: true
          
        - name: Install Linux dependencies
          if: runner.os == 'Linux'
          run: |
            sudo apt-get install libcurl4-openssl-dev -y
            sudo apt-get install curl -y

        - name: Kgen dependencies
          run: |
            install.packages(c("remotes", "rcmdcheck"))
            remotes::install_deps(pkgdir = "r/", dependencies = TRUE, upgrade = "never")
            reticulate::install_miniconda()
            reticulate::use_miniconda("r-reticulate")
            reticulate::py_install("pymyami==2.1.0", envname = "r-reticulate", pip=T)
          shell: Rscript {0}
          
        - name: Check
          run: rcmdcheck::rcmdcheck(path = "r/", args = "--no-manual", error_on = "error")
          shell: Rscript {0}